<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>POS Parking System Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
<div class="banner">
    <h1>Your CheckIn is Successful! </h1>
</div>
<div class="banner">
    <h1> Here is your ticket</h1>
</div>
<div class="button-container">
    <h1>Your Tiket Number: <span th:text="${idTiket}"></span></h1>
</div>
<div style="text-align: center; margin-top:10px">
    <div class="btn-batal">
        <a class="btn btn-secondary batal" th:href="@{/}">Back to Home</a>
    </div>
</div>
</body>
</html>