<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Check-In Page</title>
    <link rel="stylesheet" th:href="@{/css/checkin.css}" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" ></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>

</head>
<body>
<div class="banner">
    <h1>Welcome to CheckIn Page</h1>
</div>
<div class="container">
    <div class="left">
        <form th:action="@{/checkin/add}"th:object="${checkin}" method="POST">
            <label>Plat Kendaraan</label>
            <input type="text" class="form-control"
                   name="platKendaraan" maxlength="10"
                   placeholder="Masukan Nomor Plat Kendaraan Anda" required>
            <label>Jenis Kendaraan</label>
            <input type="text" class="form-control"
                   name="jenisKendaraan" maxlength="10"
                   placeholder="Masukan Jenis Kendaraan Anda" required>
            <button type="submit" class="btn btn-primary">Generate Ticket</button>
        </form>
    </div>
        <div class="right">
            <div id="clock"></div>
            <div id="location">Pintu Masuk</div>
            <script type="text/javascript" th:inline="javascript" >
                 function updateClock() {
                  var clock = document.getElementById("clock");
                  var now = new Date();
                  var date = now.toLocaleDateString();
                  var time = now.toLocaleTimeString();
                  clock.innerHTML = date + " " + time;
                }

                updateClock();
                setInterval(updateClock, 1000);
            </script>
            <div>

        </div>
</div>

</body>
</html>